<header class="masthead">
    <div class="title-container">
        <div class="intro-text">
            <span class="name">Island Decor & More</span>

                <ul class="list-inline top-btn-align">
                    <li class="list-inline-item space-out-btn">
                        <a class="btn-social-top btn-outline-top" href="https://www.facebook.com/islanddecorandmore/" target="_blank">
                            <i class="fa fa-fw fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item space-out-btn">
                        <a class="btn-social-top btn-outline-top" href="#">
                            <i class="fa fa-fw fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item space-out-btn">
                        <a class="btn-social-top btn-outline-top" href="#">
                            <i class="fa fa-fw fa-twitter"></i>
                        </a>
                    </li>
                </ul>

        </div>
    </div>
</header>