<section class="success" id="shop">
    <div class="container" >
        <div class="row">
		<div>
            <h2 class="text-center move-a-bit">Coming Soon!</h2>
        <div class="well">
            <p id="about-text about-text-section">
                Subscribe and stay up to date:
            </p>
             <form action="#">
              <div class="input-group subscriber-container">
                 <input class="btn btn-lg" name="email" id="email" type="email" placeholder="Your Email" required>
                 <button class="btn btn-info btn-lg trans-btn" type="submit">Submit</button>
              </div>
             </form>
    	 </div>
        </div>
      </div>
</section>
