	<button class="trans-btn ms-btn-position" id="modalBtn1">Our Mission</button> <!--id above for JS second var-->
	<section class="mod-overlay1" id="openModal-1">
		<!--id above for JS first var-->
		<div class="pure-u-23-24 pure-u-md-23-24 pure-u-lg-23-24 mod-content">
			<h2 class="section-headers is-center box-header">Mission Statement</h2><strong><span class="close-mod">&times;</span><!--this this is the only class that needs to be unique = js trigger
                                                So copy and paste this class in the css and name it:
                                                "close-hs-mod" ... the hs is for history as in 'Our History'--></strong>
			<div class="content">
				<p class="main-body">To always make our customers our priority. To make our customers feel valued and welcomed. To provide unique Floridian items that are quality products at reasonable prices. We seek to work with suppliers who have the same values. We strive to maintain reasonable prices for our customers.</p>
			</div>
		</div>
	</section>
