
	<button class="trans-btn hs-btn-position" id="modalBtn2">Our History</button> <!--id above for JS second var-->
	<section class="mod-overlay2" id="openModal-2">
		<!--id above for JS first var-->
		<div class="pure-u-23-24 pure-u-md-23-24 pure-u-lg-23-24 mod-content">
			<h2 class="section-headers is-center box-header">Our History</h2><strong><span class="close-mod2">&times;</span><!--this is the only class that needs to be unique = js trigger
                                                So copy and paste this class in the css and name it:
                                                "close-hs-mod" ... the hs is for history as in 'Our History'--></strong>
			<div class="content">
				<p class="main-body2">Opened in 1961, by Mrs. Long. Working together with her six children, Mrs. Long dragged for starfish and sea shells which would be cleaned and sold so that she had a means of supporting her family. As the family grew so did the business and the Longs sold sea shells both wholesale as well as retail. In 1997, Woody Long decided to do away with the wholesale end of the business and focused on retail sales only. In August of 2006, Island Décor &amp; More was then purchased by Judy Bicking who is a local resident. Judy and the staff have created a friendly and fun place to shop for gifts for You, Your Home, Your Family and Friends. If we don’t carry exactly what you are looking for, we have a large base of excellent suppliers and are willing to help you find that special item you are looking for.</p>
			</div>
		</div>
	</section>
